<body>   
    <div class="service_container">
       <div class="image_container">
            <img src="./assets/images/makeup/makeup-main-1.jpg" alt="">
        </div> 
         <div class="service-description">
            <h2 class="service-title">Макияж</h2>
            <p class="note">Умение подчеркнуть выразительность глаз, чувствительность губ или утонченность черт лица – макияж, без которого ни одна уважающая себя женщина просто не выйдет на улицу. Но есть особенные случаи, когда макияж должен быть безупречен, а выполнить его самостоятельно затруднительно или нет времени.</p>

            <ul class="service-list">
                <h3 class="subtitle">Виды макияжа</h3>
                <li> <img class="icon" src="./assets/images/product/check.png" alt=""><span>Дневной макияж </span> подразумевает использование натуральных оттенков для минимального изменения внешности. Его выполняют для деловых встреч, для офиса или просто повседневных дел как поход по магазинам. На создание легкого дневного макияжа порой уходит много времени, в то время как специалисту хватает нескольких минут и специального косметического набора.</li>

                <li><img class="icon" src="./assets/images/product/check.png" alt=""> Придать образу изысканности поможет <span> вечерний макияж </span>, при котором применяются более яркие и вызывающие расцветки. Наши визажисты смогут предложить множество вариантов макияжа с учетом вашей индивидуальности.</li>

                <li><img class="icon" src="./assets/images/product/check.png" alt=""><span>Свадебный макияж </span>  должен быть идеальным, подходить к свадебному платью и всем подвенечным атрибутами, а главное дополнять праздничный образ девушки. Нанесение такого макияжа требует мастерства и опыта, так как нужно соединить естественность, заметность и стойкость. Если вы не уверены в своих силах – обратитесь к профессиональным визажистам, чтобы макияж для фотосессии был безукоризнен, а вы счастливы!</li>

                <li><img class="icon" src="./assets/images/product/check.png" alt=""><span> Экспресс макияж </span>– нанесение декоративной косметики для ежедневного использования. Здесь применяются средства с естественными оттенками, которые подчеркивают глаза, губы, брови.</li>              
            </ul>
         </div>       
    </div>
  

    <div class="offer_container">
        <div class="text_container">
            <h3 class="subtitle">Программа «Макияж для себя»</h3>

            <p>Узнать секреты своего идеального макияжа можно только на индивидуальных занятиях с опытным визажистом, как это происходит в нашем салоне. Данный курс не подразумевает получение полного спектра знаний и навыков профессионального макияжа, а направлен сугубо на практичные цели – научить вас делать макияж себе.</p>

            <p>Курс состоит из 3-х занятий. Длительность каждого – около 2-х часов (наша цель: ответить на все ваши вопросы и сделать процесс создания идеального макияжа для вас понятным и простым).</p>

            <p>График занятий обсуждается и составляется индивидуально.</p>
            <p>Индивидуальная программа курса составляется с учетом ваших пожеланий.</p>
        </div>

        <div class="img_container">
            <img src="./assets/images/makeup/cosmetics.png" alt="">
        </div>
    </div>

    <h2 class="title">Фотографии работ</h2>

    <div class="slider_container"> 
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="slider">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/images/makeup/makeup.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/home/makeup-1.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/makeup/makeup-main-3.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/home/makeup-6.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/makeup/makeup-6.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/home/makeup-5.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Предыдущий</span> 
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Следующий</span>
            </button>
          </div>      
     </div>

    <h2 class="title">Цены на услуги</h2>

    <div class="service-price_container">
        <div class="service">
            <h3>Макияж</h3>
            <div class="service-item">
                <p>Экспресс-макияж</p>
                <span>60 руб.</span>
            </div>
            <div class="service-item">
                <p>Дневной макияж</p>
                <span>85 руб.</span>
            </div>
            <div class="service-item">
                <p>Вечерний макияж</p>
                <span>105 руб.</span>
            </div>
            <div class="service-item">
                <p>Свадебный макияж</p>
                <span>135 руб.</span>
            </div>
            <div class="service-item">
                <p>Дополнительные пучки</p>
                <span>10 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Курс "Макияж для себя"</p>
                <span>200 руб.</span>
            </div>                                
         
        </div>
    </div>
   
    <div class="services-btn" [routerLink]='["/products"]'>Все услуги</div>
</body>

