header {
    width: 100%;
    height: 30vh;
    background: #020202;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-wrap: wrap;
    /* position:sticky;  */
    top: 0;
    z-index: 2;  
}

.header_menu { 
    width: 75%;
    margin: 0 auto;
    border-bottom: 1px solid #CDAA7D;  
    display: flex;   
    flex-wrap: wrap;      
    align-items: center; 
    justify-content: center; 
}


.btn-group {
    display:none;
}

.dropdown-menu {
    background:#020202;
}

.btn-secondary {
    background: #020202;
    width: 70px;
    height: 50px; 
}



.logo {
    width: 120px;
    border-radius:50%;
    position: relative;
    bottom: 25px;    
    box-shadow: #CDAA7D 2px 2px 4px 0px;
    margin: 0 2vw;
}
.insta {
    width: 2vw;
    height: 2vw;
    border-radius: 7px;
}

.logo:hover, .insta:hover {
    transform: scale(1.2);
    box-shadow: #CDAA7D 2px 2px 5px 1px;
}

.menu-item { 
    width: 40%;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
    flex-wrap:wrap;        
}

span {
    width: 33%;  
    list-style: none;   
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 120%;
    text-align: center; 
    color: #FFFFFF;    
} 

span:hover {    
    color: #CDAA7D;
    font-weight: 600;
    font-size: 1.3rem;
    text-decoration: underline;
    line-height: 130%;
    text-align: center;
    cursor: pointer;
}




