header {
  width: 100%;
  height: 14vw;
  background: #020202;
  display: flex;
  align-items: center;
}

.header_menu {
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid #cdaa7d;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 8vw;
  border-radius: 50%;
  position: relative;
  bottom: 3.5vh;
  box-shadow: #cdaa7d 0.1vw 0.1vw 0.2vw 0;
  margin: 0 2vw;
  cursor: pointer;
}

.insta {
  width: 2vw;
  height: 2vw;
  border-radius: 0.5vw;
  cursor: pointer;
}

.logo:hover,
.insta:hover {
  transform: scale(1.2);
  box-shadow: #cdaa7d 0.1vw 0.1vw 0.4vw 0;
}

.menu-items {
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
}

.item {
  list-style: none;
  font-weight: 500;
  font-size: calc(0.8vw + 0.8vh + 0.6vmin);
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}

.item:hover {
  color: #cdaa7d;
  font-weight: 500;
  font-size: calc(0.8vw + 0.8vh + 0.6vmin);
  line-height: 120%;
  text-align: center;
  cursor: pointer;
}

.active {
  color: #cdaa7d;
  font-weight: 500;
  font-size: calc(0.8vw + 0.8vh + 0.6vmin);
  line-height: 120%;
  text-align: center;
  cursor: pointer;
}

/* Mobile header */

.header_mobile {
  min-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  border-bottom: 1px solid #cdaa7d;
  padding-bottom: 2vmin;
}

.logo_container {
  width: 30%;
}

.logo-mobile {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.contacts {
  width: 30%;
  list-style-type: none;
  font-family: "Bitter", serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 5px;
  padding-left: 0px;
}

.contacts li {
  font-size: 0.7rem;
  line-height: 200%;
}

.btn-secondary {
  background: #020202;
  width: 50px;
  height: 40px;
  border-style: none;
  outline: none;
}

.btn-group img {
  width: 50px;
  height: 40px;
}

.dropdown-menu {
  background: #0c0c0cc7;
  padding: 10px 35px;
  color: #ffffff;
  font-size: 12px;
  line-height: 200%;
  text-transform: uppercase;
  cursor: pointer;
}

.active-mobile {
  color: #cdaa7d;
}

@media screen and (max-width: 960px) {
  header {
    height: 20vh;
  }

  .header_menu {
    max-width: 95%;
  }

  .item {
    font-size: 2.7vmin;
  }

  .item:hover {
    font-size: 2.7vmin;
  }

  .logo {
    max-width: 10%;
    bottom: 1vh;
  }
}

@media screen and (max-width: 760px) {
  .header_menu {
    display: none;
  }

  .header_mobile {
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  header {
    height: 30vmin;
  }

  .logo-mobile {
    box-shadow: #cdaa7d 0.2vmin 0.2vmin 0.4vmin 0;
  }

  .contacts li {
    font-size: 2.5vmin;
  }

  .header_menu {
    width: 5vmin;
    height: 3vmin;
  }

  .dropdown-menu {
    font-size: 3vmin;
    line-height: 250%;
  }
}
