<header> 
    <div class="header_menu">
        <div class="menu-items">
            <img  class="insta" src="./assets/images/header/instagram.png">
            <span class="item"  [routerLink]='["/"]' routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Главная</span>              
            <span class = "item" [routerLink]='["/products"]' routerLinkActive="active">Наши услуги</span>  
        </div>
        <img  class = "logo" src="./assets/images/header/logo.jpg" alt="img" [routerLink]='["/"]'>
        <div class="menu-items">                         
            <span class = "item" [routerLink]='["/team"]' routerLinkActive="active">Мастера</span>              
            <span class = "item" [routerLink]='["/prices"]' routerLinkActive="active">Цены</span>              
            <span class = "item" [routerLink]='["/contacts"]' routerLinkActive="active">Контакты</span>              
        </div>
    </div>
 

 <!-- <div class="btn-group dropend">
    <img  class = "insta" src="./assets/images/header/menu-icon.png" alt="img" type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
 
    <ul class="dropdown-menu">
      <li><span class = "category"  [routerLink]='["/"]'>Главная</span></li>
      <li><span class = "category" [routerLink]='["/products"]'>Наши услуги</span>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
    </ul>
  </div>      
 -->
           
</header>
