footer {
  color: rgb(222, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  font-family: "Bitter", serif;
}

.main-footer_container {
  width: 85%;
  height: 38vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #cdaa7d;
  padding: 10vh 0%;
}

.contacts {
  width: 38%;
  display: flex;
  justify-content: space-between;
}

.contacts h2 {
  color: #cdaa7d;
  padding-bottom: 1vw;
  font-size: calc(0.8vw + 0.8vh + 0.8vmin);
}

.contacts ul {
  list-style-type: none;
  padding-left: 0;
}

.contacts li {
  line-height: 200%;
  font-size: calc(0.7vw + 0.7vh + 0.1vmin);
}

.logo_container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media img {
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  margin: 0 1vw;
  cursor: pointer;
}

.logo {
  width: 7vw;
  border-radius: 50%;
  position: relative;
  margin-bottom: 3vh;
  box-shadow: #cdaa7d 0.1vw 0.1vw 0.4vw 0;
  cursor: pointer;
}

.logo:hover,
.social-media img:hover {
  transform: scale(1.2);
  box-shadow: #cdaa7d 0.2vw 0.2vw 0.5vw 0;
}

.quick-links_container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.quick-links_container ul {
  list-style: none;
  padding-left: 7vw;
}

.quick-links_container ul:first-child {
  padding-left: 0px;
}

.quick-links_container li {
  padding-bottom: 1vw;
  font-size: calc(0.6vw + 0.6vh + 0.6vmin);
  font-weight: 400;
  cursor: pointer;
}

.quick-links_container li:hover {
  color: #cdaa7d;
  text-decoration: underline;
}

/* Adaptivity */

@media screen and (max-width: 960px) {
  .main-footer_container {
    width: 95%;
    height: 35vh;
    padding: 0;
    margin: 0;
    justify-content: space-around;
  }
}

@media screen and (max-width: 760px) {
  .contacts {
    width: 30%;
  }

  .social-media img {
    width: 2rem;
    height: 2rem;
  }

  .logo {
    width: 3rem;
    height: 3rem;    
  }

  .phone {
    display: none;
  }

  .contacts li {
    font-size: 10px;
  }
}

@media screen and (max-width: 560px) {
  .main-footer_container {
    height: 35vmin;
  }

  .social-media img {
    width: 5vmin;
    height: 5vmin;
  }
}

@media screen and (max-width: 440px) {
  footer {
    padding: 0 1vmin;
  }

  .contacts {
    width: 30%;
  }
  .logo_container {
    width: 24%;
    position: relative;
    top: -4vmin;
  }

  .logo {
    margin-bottom: 2vmin;
  }
  .contacts li {
     font-size: 2.3vmin;
     line-height: 200%;
  }
  .quick-links_container li {
    width: 30%;
  }

  .quick-links_container li {
    line-height: 220%;
  }

  .quick-links_container ul:last-child {
    list-style: none;
    padding-left: 3vmin;
  }
}
