<body>
    <div class="main-image_container">
        <img src="./assets/images/contacts/main-img.png" alt=""> 
        <h2>Контакты</h2>
    </div>

    <div class="contacts_container">
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d9389.762893000121!2d27.6636819!3d53.959441!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1680979699144!5m2!1sru!2sby" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="address">
            <h4>Контактная информация</h4>
            <div class="phone">
                <img src="./assets/images/contacts/phone.png" alt="">
                <span>+375(29)00-00-00</span>
            </div>
            <div class="phone">
                <img src="./assets/images/contacts/phone.png" alt="">
                <span>+375(29)00-00-00</span>
            </div>
            <div class="location">
                <img src="./assets/images/contacts/location.png" alt="">
                <span>г. Минск, ул. Братьев Райт, 25</span>
            </div>
            
            <div class="social-media">
                <img src="./assets/images/footer/fb.jpg" alt="img" >
                <img src="./assets/images/footer/insta.jpg" alt="img">
                <img src="./assets/images/footer/viber.jpg" alt="img">
            </div>           
        </div>
    </div>

    <h5>Есть вопросы?</h5>
    <h5>Свяжитесь с нами!</h5>
    <div class="contact-form_container">      

        <form class="form">
            <div> 
                <label for="name">Имя</label>
                <input type="text" id="name" name="firstName" placeholder="Имя">
                <input type="text" id="name" name="lastName" placeholder="Фамилия">                    
            </div>
           
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="yourEmail" placeholder="your_mail@mail.com">
            </div>
          
            <div>
                <label for="phone">Телефон*</label>
                <input type="phone" id="phone" name="phone" placeholder="+375 29 000 00 00">
                                   
            </div>
         
            <div>
                <label for="subject" id="topic">Тема*</label>
                <input type="topic" id="topic" name="topic" placeholder="Тема">
            </div>
          
            <div>
                <label for="Message">Сообщение*</label>                
                <textarea id="message" name="message"></textarea>
            </div>                        
        </form>  
    </div> 

    <div class="submit-btn">Отправить сообщение</div>
</body>