body {
  color: white;
  padding-bottom: 15vh;
}

.main-image_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 25vh;
}

.main-image_container img {
  width: 100%;
}

.main-image_container h2 {
  position: absolute;
  top: 30vw;
  text-align: center;
  font-family: "Bitter", serif;
  font-size: calc(3.5vw + 3.5vh + 3.5vmin);
  font-weight: 500;
  color: rgb(239, 238, 236);
  opacity: 0.8;
}

.contacts_container {
  width: 80%;
  margin: 0 auto;
  font-family: "Bitter", serif;
  display: flex;
  justify-content: center;
  padding-bottom: 25vh;
}

.map {
  width: 60%;
}

iframe {
  width: 40vw;
  height: 30vw;
  border-radius: 5px;
  border: 1px solid #cdaa7d;
}

.address {
  width: 30%;
  padding-top: 3vh;
}

.address h4 {
  font-size: calc(1vw + 1vh + 1vmin);
  font-weight: 500;
  color: #cdaa7d;
  padding-bottom: 3vh;
}

.phone img,
.location img {
  width: calc(0.9vw + 0.9vh + 0.9vmin);
  height: calc(0.9vw + 0.9vh + 0.9vmin);
  margin-right: 0.5vw;
}

.phone,
.location {
  height: 6vh;
  display: flex;
  align-items: center;
  font-size: calc(0.7vw + 0.7vh + 0.5vmin);
}

.social-media img {
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  margin: 0 1vw;
  margin-top: 5vh;
  cursor: pointer;
}

.social-media img:hover {
  transform: scale(1.2);
  box-shadow: #cdaa7d 0.2vw 0.2vw 0.5vw 0;
}

.contact-form_container {
  width: 60%;
  margin: 0 auto;
  padding-top: 8vh;
}

h5 {
  font-size: calc(2vw + 1vh + 1vmin);
  padding-left: 12%;
  color: #f7ede0;
  font-style: italic;
}

.form {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3vw;
  border: 0.2vw solid #cdaa7d;
  border-radius: 10px;
  background: url("/assets/images/home/bc-1.jpg");
  background-size: cover;
  object-fit: cover;
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
  background: rgba(68, 68, 68, 0.926);
}

input .ng-dirty.ng-touched.ng-valid {
  border: solid #cdaa7d 2px;
}

input,
textarea,
.alert-danger {
  float: right;
  width: 80%;
  height: 3vw;
  border: none;
  border-radius: 0.3vw;
  color: rgb(244, 211, 159);
  font-size: calc(0.5vw + 0.5vh + 0.7vmin);
  margin: 1%;
  padding: 0 2%;
  background: rgba(68, 68, 68, 0.926);
}

label {
  font-size: calc(0.5vw + 0.5vh + 0.7vmin);
  position: relative;
  font-weight: bolder;
  top: 1vw;
  right: 0.6vw;
  color: #cdaa7d;
}

::placeholder {
  color: #cdaa7d;
  font-size: calc(0.4vw + 0.4vh + 0.7vmin);
}

textarea {
  min-height: 15vh;
  padding: 2%;
}

.alert-danger {
  color: rgb(236, 18, 18);
  font-size: calc(0.4vw + 0.4vh + 0.6vmin);
  height: 3vmin;
  background-color: #f8f4f4e6;
  position: relative;
  top: -17px;
}

.alert-success {
  width: 80% auto 0;
  height: 2.5vw;
  text-align: center;
  padding: 0.4vw;
  margin-top: 7vmin;
}

.alert-success p {
  padding-bottom: 0;
}

.submit-btn {
  width: 50%;
  height: 3.5vw;
  margin: 0 auto;
  background-color: transparent;
  background: radial-gradient(
    circle,
    rgba(238, 208, 174, 1) 0%,
    rgb(199, 130, 3) 100%
  );
  border-radius: 0.2vw;
  margin-top: 2%;
  padding: 0.9vw;
  text-align: center;
  color: #111111;
  font-size: calc(0.6vw + 0.5vh + 0.5vmin);
  font-weight: 600;
  cursor: pointer;
}

.submit-btn:hover {
  filter: drop-shadow(0.1vw 0.1vw 0.3vw #cdaa7d);
}

@media screen and (max-width: 960px) {
  .main-image_container {
    padding-bottom: 10vmin;
  }

  .contacts_container {
    width: 80% auto;
    flex-direction: column;
    margin-right: 0;
    padding-bottom: 15vmin;
  }

  .map {
    width: 80%;
    order: 2;
  }

  iframe {
    width: 100%;
    height: 60vmin;
  }

  .address {
    order: 1;
    width: 70%;
    margin-bottom: 10vmin;
  }

  .address h4 {
    font-size: 4vmin;
    padding-bottom: 2.5vmin;
  }

  .phone,
  .location {
    font-size: 2.8vmin;
    height: 7vmin;
  }

  .social-media img {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 770px) {
  .contact-form_container {
    width: 90%;
    padding-top: 2vmin;
  }

  .form {
    width: 90%;
    margin: 0 auto;
  }

  input,
  textarea {
    width: 73%;
    height: 6vmin;
    font-size: 2.8vmin;
  }

  ::placeholder {
    font-size: 2.6vmin;
  }

  label {
    font-size: 2.5vmin;
  }

  .alert-danger {
    width: 73%;
    height: 5vmin;
    font-size: 2vmin;
    top: -2.3vmin;
  }

  .submit-btn {
    height: 5.5vmin;
    font-size: 2.5vmin;
    border-radius: 3px;
    margin-top: 3vmin;
  }
}

@media screen and (max-width: 450px) {
  .main-image_container h2 {
    top: 40vmin;
  }
}
