<body>
  <div class="main-image_container">
    <img src="./assets/images/contacts/main-img.png" alt="img" />
    <h2>Контакты</h2>
  </div>

  <div class="contacts_container">
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d9389.762893000121!2d27.6636819!3d53.959441!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1680979699144!5m2!1sru!2sby"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="address">
      <h4>Контактная информация</h4>
      <div class="phone">
        <img src="./assets/images/contacts/phone.png" alt="img" />
        <span>+375 (29) 00-00-00</span>
      </div>
      <div class="phone">
        <img src="./assets/images/contacts/phone.png" alt="img" />
        <span>+375 (29) 00-00-00</span>
      </div>
      <div class="location">
        <img src="./assets/images/contacts/location.png" alt="img" />
        <span>г. Минск, ул. Братьев Райт, 25</span>
      </div>

      <div class="social-media">
        <img src="./assets/images/footer/fb.jpg" alt="img" />
        <img src="./assets/images/footer/insta.jpg" alt="img" />
        <img src="./assets/images/footer/viber.jpg" alt="img" />
      </div>
    </div>
  </div>

  <!--  Form -->

  <h5>Есть вопросы?</h5>
  <h5>Свяжитесь с нами!</h5>
  <div class="contact-form_container">
    <form class="form">
      <div class="form-group">
        <label for="name">Имя*</label>
        <input
          class="form-control"
          name="name"
          placeholder="Имя"
          [(ngModel)]="contactForm.name"
          #name="ngModel"
          required
        />
        <div [hidden]="name.valid || name.untouched" class="alert alert-danger">
          Не указано имя
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email*</label>
        <input
          class="form-control"
          name="Email"
          placeholder="your_mail@mail.com"
          [(ngModel)]="contactForm.email"
          #email="ngModel"
          required
          pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$"
        />
        <div
          [hidden]="email.valid || email.untouched"
          class="alert alert-danger"
        >
          Некорректный email
        </div>
      </div>

      <div class="form-group">
        <label>Телефон*</label>
        <input
          class="form-control"
          name="phone"
          placeholder="375290000000"
          [(ngModel)]="contactForm.phone"
          #phone="ngModel"
          required
          pattern="[0-9]{12}"
        />
        <div
          [hidden]="phone.valid || phone.untouched"
          class="alert alert-danger"
        >
          Введите номер в правильном формате: 375290000000
        </div>
      </div>

      <div class="form-group">
        <label for="subject">Тема</label>
        <input
          class="form-control"
          name="subject"
          placeholder="Тема"
          max="50"
          required
          [(ngModel)]="contactForm.subject"
          #subject="ngModel"
        />
      </div>

      <div class="form-group">
        <label for="message">Сообщение</label>
        <textarea
          class="form-control"
          name="message"
          placeholder="Сообщение"
          max="200"
          [(ngModel)]="contactForm.message"
          #message="ngModel"
        ></textarea>
      </div>

      <div class="alert alert-success" role="alert">
        <p>
          Ваше сообщение успешно отправлено. Мы обязательно свяжемся с Вами!
        </p>
      </div>
    </form>
  </div>

  <div class="submit-btn" click="onSubmit()">Отправить сообщение</div>
</body>
