body {
  color: #cdaa7d;
  color: rgb(222, 220, 219);
  padding: 10vh 0px 25vh 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20vh;
}

.service-description {
  width: 50%;
}

.note {
  font-size: calc(0.7vw + 0.7vh + 0.7vmin);
  font-style: italic;
  padding-bottom: 2.5vh;
}

.image_container {
  width: 50%;
}

.image_container img {
  width: 80%;
  object-fit: cover;
  margin-right: 3vw;
  border-radius: 7px;
}

.service-title {
  font-size: calc(1.9vw + 1vh + 1vmin);
  font-style: italic;
  font-weight: 500;
  color: #cdaa7d;
  padding-bottom: 3vh;
}

.subtitle {
  font-size: calc(1.2vw + 1vh + 1vmin);
  font-style: italic;
  font-weight: 500;
  color: #cdaa7d;
  padding-bottom: 3vh;
}

/* Accordion */

.accordion {
  width: 100%;
}

.accordion-item {
  background: #0c0c0c;
  text-align: justify;
}

.accordion-button {
  height: 3.5vw;
  background: #f4b159;
  color: rgb(41, 40, 40);
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.4vw;
  border: 0.2vw solid #291801;
  padding: 0 2vw;
  margin-bottom: 1.5vw;
  cursor: pointer;
}

.accordion-button span {
  font-weight: 800;
}

.accordion-body {
  color: #c4c1be;
  padding: 1vw 3vw;
  font-size: calc(0.5vw + 0.5vh + 0.7vmin);
  line-height: 130%;
}

/* Thai-massage */

.title {
  font-size: calc(1.9vw + 1vh + 1vmin);
  text-align: center;
  font-style: italic;
  padding-bottom: 12vh;
}

.txt_container {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 15vh;
}

.txt_container h3 {
  font-size: calc(1.8vw + 1vh + 1vmin);
  font-weight: 400;
  color: #cdaa7d;
  padding-bottom: 4vh;
  text-align: center;
}

.txt_container p {
  font-size: calc(0.5vw + 0.5vh + 1vmin);
  line-height: 140%;
  padding-bottom: 1vw;
}

.service-options {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vh;
}

/* Video */

.video_container {
  padding-bottom: 15vh;
}

iframe {
  width: 50vw;
  height: 33vw;
}

/* Prices */

.service-price_container {
  width: 75%;
  margin: 0 auto;
  font-family: "Bitter", serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.service {
  width: 50%;
  padding-bottom: 4vw;
}

.service h3 {
  font-size: calc(0.8vw + 0.8vh + 1vmin);
  font-weight: 500;
  padding-bottom: 3vh;
  text-transform: uppercase;
  color: #cdaa7d;
}

.service-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1vw dotted #cdaa7d;
}

.service-item p,
.service-item span {
  font-size: calc(0.6vw + 0.6vh + 0.8vmin);
  line-height: 200%;
}

.services-btn {
  width: 20vw;
  height: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(241, 215, 136, 0.841);
  border: 1vw ridge rgb(243, 204, 105);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #2c2b2b;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 5vw;
  cursor: pointer;
}

.services-btn:active {
  width: 19vw;
  height: 4.7vw;
  font-size: calc(0.47vw + 0.47vh + 0.47vmin);
}
