<body>
  <h2>ФОТОГАЛЕРЕЯ</h2>

  <div class="gallery_images">
    <div><img src="./assets/images/home/cut-2.jpg" alt="img" /></div>
    <div><img src="./assets/images/home/color-1.jpg" alt="img" /></div>
    <div><img src="./assets/images/brows/brows-6.jpg" alt="img" /></div>
    <div><img src="./assets/images/home/nails-1.jpg" alt="img" /></div>
    <div><img src="./assets/images/home/color-2.jpg" alt="img" /></div>
    <div><img src="./assets/images/home/cut-3.jpg" alt="img" /></div>
    <div><img src="./assets/images/home/brows-2.jpg" alt="img" /></div>
    <div><img src="./assets/images/home/color-4.jpg" alt="img" /></div>
    <div><img src="./assets/images/home/cut-1.jpg" alt="img" /></div>
    <div><img src="./assets/images/home/nails-4.jpg" alt="img" /></div>
    <div><img src="./assets/images/haircut/cut-14.jpg" alt="img" /></div>
    <div><img src="./assets/images/home/massage.jpg" alt="img" /></div>
  </div>
</body>
