<body>
    <div class="service_container">
        <div class="image_container">
             <img src="./assets/images/brows/brows-5.jpg" alt="">
         </div> 
          <div class="service-description">
             <h2 class="service-title">Коррекция и окрашивание бровей</h2>
             <p class="note">Ежедневный макияж будет недостаточным, если брови не ухожены. Без красивых и ухоженных бровей образ становится невыразительным и теряет индивидуальность. Поэтому оформление бровей должно обязательно входить в уход за лицом.</p>
 
             <ul class="service-list">
                 <h3>Виды окрашивания бровей</h3>

                 <li> <img class="icon" src="./assets/images/product/check.png" alt=""><span>Окрашивание хной </span> не только гарантирует им придание красивого оттенка без вреда, но и сделает их более густыми, обеспечив их питание и быстрый рост, уход, насытит красотой блеска. </li>
                 
                 <li><img class="icon" src="./assets/images/product/check.png" alt=""><span>Окрашивание краской </span> дает больше возможностей в плане выбора цветов. Широкая палитра оттенков современных красителей позволяет создать цвет идеально подходящий для девушек с любым типом внешности. Кроме того, этот способ считается более экономичным – краска всегда стоит дешевле, чем хна.</li>                           
             </ul>             
          </div>       
     </div>

     <div class="service_container">
        <div class="service-description">
             <h2 class="service-title">Процедуры для ресниц</h2>
             <p class="note">Темные выразительные ресницы – мечта каждой девушки. Создающие пикантный акцент на глазах, они облагораживают общий внешний вид, делают лицо более запоминающимся.</p>
 
             <ul class="service-list">
                 <h3>Мы прелагаем следующие процедуры:</h3>

                 <li> <img class="icon" src="./assets/images/product/check.png" alt=""><span>Окрашивание ресниц </span> позволяет надолго сделать их более яркими. С его помощью выделяются даже небольшие и светлые волоски, что создает эффект дополнительного объема. </li>
 
                 <li><img class="icon" src="./assets/images/product/check.png" alt=""><span>Ламинирование ресниц </span> - это процедура, сочетающая в себе уход, питание, восстановление, удлинение и утолщение натуральных ресниц. Это процедура, которая позволяет забыть про ежедневный ритуал по уходу за ресницами в виде расчесывания, завивки ресниц и нанесения туши;</li>
 
                 <li><img class="icon" src="./assets/images/product/check.png" alt=""><span> Коллагенирование ресниц. </span> Белок коллаген наносится на волоски, запечатывая микроскопические чешуйки изнутри и создавая на поверхности незаметную защитную пленку. Ресницы после этого выглядят здоровыми – становятся гладкими и блестящими, визуально создается эффект удлинения и дополнительного объема;</li>
 
                 <li><img class="icon" src="./assets/images/product/check.png" alt=""><span>Наращивние ресниц. </span> Ма предлагаем нашим клиентам классическое наращивание, которое представляет собой разновидность натурального эффекта, и объемное наращивание (эффект 2D, 3D, 4D).</li>              
                             
             </ul>
          </div>
          <div class="image-lashes_container">
            <img src="./assets/images/brows/lashes-main-6.jpg" alt="">
        </div>        
     </div>
 
     <h2 class="title">Фотографии работ</h2>

     
 
     <div class="slider_container"> 
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="slider">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/images/brows/lashes-main.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/home/brows-2.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/brows/lashes-main-4.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/brows/lashes-main-5.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="./assets/images/brows/brows-8.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Предыдущий</span> 
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"  data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Следующий</span>
            </button>
          </div>      
     </div>
 
     <h2 class="title">Цены на услуги</h2>
     
    <div class="service-price_container">
        <div class="service">
            <h3>Брови</h3>
            <div class="service-item">
                <p>Коррекция бровей</p>
                <span>13 руб.</span>
            </div>
            <div class="service-item">
                <p>Окрашивание бровей</p>
                <span>15 руб.</span>
            </div>
            <div class="service-item">
                <p>Комплекс: архитектура +коррекция +окрашивание</p>
                <span>27 руб.</span>
            </div>
            <div class="service-item">
                <p>Долговременная укладка бровей</p>
                <span>30 руб.</span>
            </div>                                
        </div>
        <div class="service">
            <h3>Ресницы</h3>
            <div class="service-item">
                <p>Окрашивание ресниц</p>
                <span>15 руб.</span>
            </div>
            <div class="service-item">
                <p>Ламинирвание ресниц</p>
                <span>30 руб.</span>
            </div>
            <div class="service-item">
                <p>Ламинирвание ресниц + ботокс + окрашивание</p>
                <span>60 руб.</span>
            </div>
            <div class="service-item">
                <p>Классическое наращивание</p>
                <span>55 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Объемное наращивание 1.5D эффект</p>
                <span>57 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Объемное наращивание 2D эффект</p>
                <span>60 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Объемное наращивание 3D эффект</p>
                <span>70 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Снятие наращивания</p>
                <span>10 руб.</span>
            </div>                                
                                  
        </div>
    </div>
    <div class="services-btn" [routerLink]='["/products"]'>Все услуги</div>

</body>

