body {
  width: 100%;
  background: #020202;
  color: rgb(222, 220, 219);
  padding: 10vh 0px 25vh 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15vh;
}

.service_container h2 {
  font-size: calc(1.8vw + 1vh + 1vmin);
  font-style: italic;
  font-weight: 500;
  color: #cdaa7d;
  padding-bottom: 3vh;
}

.service_container h3 {
  font-size: calc(1.3vw + 1vh + 1vmin);
  font-style: italic;
  font-weight: 500;
  color: #cdaa7d;
  padding-bottom: 3vh;
}

.note {
  font-size: calc(0.7vw + 0.7vh + 0.7vmin);
  font-style: italic;
  padding-bottom: 2vh;
}

.image_container {
  width: 40%;
  margin-right: 7vw;
  margin-top: 2vh;
}

.service-description {
  width: 60%;
}

.image_container img {
  width: 100%;
  object-fit: cover;
  justify-content: center;
  border-radius: 0.3vw;
}

.image-men_container {
  width: 35%;
}

.image-men_container img {
  width: 100%;
  object-fit: cover;
  justify-content: center;
  margin-left: 3vw;
  margin-top: 5vh;
  border-radius: 0.3vw;
}

.service-list {
  list-style: none;
}

.service-list li {
  font-size: calc(0.6vw + 0.6vh + 0.6vmin);
  color: rgb(170, 167, 163);
  line-height: 140%;
  padding-bottom: 2vh;
  position: relative;
  padding-left: 2vw;
}

.service-list span {
  color: #cdaa7d;
  font-weight: bolder;
}

.icon,
.icon-men {
  width: 1.5vw;
  position: absolute;
  left: -1vw;
}

.icon-men {
  width: 3vw;
  left: -2vw;
}

.title {
  font-size: calc(1.9vw + 1.9vh + 1.9vmin);
  text-align: center;
  font-style: italic;
  padding-bottom: 8vh;
}

/* Slider */

.slider_container {
  width: 37%;
  height: 46vw;
  margin-bottom: 15vh;
}

.carousel-indicators {
  position: relative;
  top: 43vw;
}

.carousel-item img {
  height: 40vw;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;
}

.carousel-control-prev-icon {
  position: relative;
  left: -7vw;
}

.carousel-control-next {
  right: -7vw;
}

/* Prices */

.service-price_container {
  width: 80%;
  margin: 0 auto;
  font-family: "Bitter", serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.service {
  width: 50%;
  margin-bottom: 10vh;
  margin-right: 7vw;
  padding-bottom: 4vh;
  border-bottom: 4px dotted rgb(150, 149, 149);
}

.service:nth-child(even) {
  margin-right: 0px;
}

.service h3 {
  font-size: calc(0.8vw + 0.8vh + 1vmin);
  font-weight: 500;
  padding-bottom: 3vh;
  text-transform: uppercase;
  color: #cdaa7d;
}

.service-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.service-item p,
.service-item span {
  font-size: calc(0.6vw + 0.6vh + 0.7vmin);
  line-height: 130%;
}

.services-btn {
  width: 20vw;
  height: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(241, 215, 136, 0.841);
  border: 1vw ridge rgb(243, 204, 105);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #2c2b2b;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 5vh;
  cursor: pointer;
}

.services-btn:active {
  width: 19vw;
  height: 4.7vw;
  font-size: calc(0.47vw + 0.47vh + 0.47vmin);
}
