<body>
    <img class="icon" src="./assets/images/products/icon.png" alt="">
   <div class="prices_container">
        <div class="title_container">            
            <h2>Краткий прайс</h2>
            <p>Мы понимаем ценность денег, поэтому предлагаем вам лучшие пакеты по доступной цене!</p>           
        </div>

        <div class="service-price_container">
            <div class="service">
                <h3>Стрижки</h3>
                <div class="service-item">
                    <p>Женская стрижка</p>
                    <span>от 27 руб.</span>
                </div>
                <div class="service-item">
                    <p>Мужская стрижка</p>
                    <span>от 10 руб.</span>
                </div>
                <div class="service-item">
                    <p>Детская стрижка (до 5 лет)</p>
                    <span>от 15 руб.</span>
                </div>
                <div class="service-item">
                    <p>Детская стрижка (до 12 лет)</p>
                    <span>от 20 руб.</span>
                </div>                                
            </div>

            <div class="service">
                <h3>Укладки и прически</h3>
                <div class="service-item">
                    <p>Укладка повседневная</p>
                    <span>от 27 руб.</span>
                </div>
                <div class="service-item">
                    <p>Прическа для вечера</p>
                    <span>от 45 руб.</span>
                </div>
                <div class="service-item">
                    <p>Свадебная прическа</p>
                    <span>от 50 руб.</span>
                </div>                              
            </div>        

            <div class="service">
                <h3>Брови и ресницы</h3>
                <div class="service-item">
                    <p>Классическое наращивание</p>
                    <span>49 руб.</span>
                </div>
                <div class="service-item">
                    <p>Обемное наращивание</p>
                    <span>55 руб.</span>
                </div>                  
                <div class="service-item">
                    <p>Окрашивание бровей/ресниц</p>
                    <span>15 руб.</span>
                </div>                  
                <div class="service-item">
                    <p>Долговременная укладка бровей</p>
                    <span>30 руб.</span>
                </div>                  
            </div>

            <div class="service">
                <h3>Окрашивание волос</h3>
                <div class="service-item">
                    <p>Окрашивание корней</p>
                    <span>от 32 руб.</span>
                </div>
                <div class="service-item">
                    <p>Окрашивание тон в тон</p>
                    <span>от 38 руб.</span>
                </div>
                <div class="service-item">
                    <p>Тонирование</p>
                    <span>от 38 руб.</span>
                </div>                              
                <div class="service-item">
                    <p>Мелирование + тонирование</p>
                    <span>от 78 руб.</span>
                </div>                              
                <div class="service-item">
                    <p>Сложное окрашивание</p>
                    <span>от 120 руб.</span>
                </div>                              
                <div class="service-item">
                    <p>Уход за волосами</p>
                    <span>от 21 руб.</span>
                </div>                              
            </div>           

            <div class="service">
                <h3>Массаж</h3>
                <div class="service-item">
                    <p>Классический массаж</p>
                    <span>от 55 руб.</span>
                </div>
                <div class="service-item">
                    <p>Оздоровительный массаж</p>
                    <span>от 55 руб.</span>
                </div>                  
                <div class="service-item">
                    <p>Антицеллюлитный массаж</p>
                    <span>от 49 руб.</span>
                </div>                  
                <div class="service-item">
                    <p>Массаж головы</p>
                    <span>от 18 руб.</span>
                </div>                  
            </div>
            <div class="service">
                <h3>Ногтевой сервис</h3>
                <div class="service-item">
                    <p>Маникюр</p>
                    <span>от 20 руб.</span>
                </div>
                <div class="service-item">
                    <p>Долговременное покрытие</p>
                    <span>от 45 руб.</span>
                </div>
                <div class="service-item">
                    <p>Педикюр</p>
                    <span>от 38 руб.</span>
                </div>                  
            </div>
        </div>
        <div class="services-btn" [routerLink]='["/products"]'>Все услуги</div>

       </div>
   
            
  
</body>
