body {
  color: rgb(205, 201, 201);
  padding: 10vh 0px 20vh 0px;
  position: relative;
}

.icon {
  width: 8vw;
  position: absolute;
  left: 23%;
  top: 3%;
}

.prices_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.title_container {
  width: 70%;
  margin-bottom: 5vw;
  text-align: center;
}

.title_container h2 {
  font-size: calc(3vw + 2vh + 1vmin);
  font-weight: 600;
  color: #cdaa7d;
  font-style: italic;
  padding-bottom: 3vw;
  padding-left: 2vw;
}

.title_container p {
  font-size: calc(1.2vw + 1vh + 1vmin);
  line-height: 150%;
  padding-bottom: 4vw;
  font-style: italic;
  color: rgb(215, 214, 212);
}

/* Prices */

.service-price_container {
  width: 95%;
  font-family: "Bitter", serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.service {
  width: 40%;
  margin-bottom: 5vw;
  margin-right: 10vw;
  padding-bottom: 1vw;
  border-bottom: 4px dotted rgb(150, 149, 149);
}

.service:nth-child(even) {
  margin-right: 0px;
}

.service h3 {
  font-size: calc(0.9vw + 0.9vh + 0.9vmin);
  font-weight: 500;
  padding-bottom: 3vh;
  text-transform: uppercase;
  color: #cdaa7d;
}

.service-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.service-item p,
.service-item span {
  font-size: calc(0.6vw + 0.6vh + 1vmin);
  line-height: 150%;
}

.services-btn {
  width: 20vw;
  height: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(241, 215, 136, 0.841);
  border: 1vw ridge rgb(243, 204, 105);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2vmin;
  color: #2c2b2b;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 10vmin;
  cursor: pointer;
}

.services-btn:active {
  width: 19vw;
  height: 4.7vw;
  font-size: calc(0.47vw + 0.47vh + 0.47vmin);
}

@media screen and (max-width: 960px) {
  body {
    padding: 10vmin 0 10vmin 0;
  }

  .title_container {
    width: 80%;
    padding: 0;
  }

  .icon {
    width: 15vmin;
    left: 25vmin;
    top: 9vmin;
  }

  .title_container p {
    padding-bottom: 0;
  }

  .service {
    width: 60%;
    margin: 6vmin 0;
  }

  .service h3 {
    font-size: 5vmin;
  }

  .service-item p,
.service-item span {
  font-size: 3.5vmin;
}
}

@media screen and (max-width: 770px) {
  .title_container {
    width: 90%;    
  }

  .icon {
    left: 16vmin;
  }

  .service {
    width: 85%;
  }
}

@media screen and (max-width: 620px) {
  .icon {
    width: 10vmin;
    left: 15vmin;
    top: 7vmin;
  }
  .services-btn {
    width: 25vmin;
    height: 9vmin;
    font-size: 2vmin;
  }
}

@media screen and (max-width: 440px) {
    .icon {
  left: 10vmin;

    }

    .services-btn {     
      font-size: 2.1vmin;
    }
}
