<body>   
    <div class="service_container">
       <div class="image_container">
            <img src="./assets/images/product/nails-main-3.jpg" alt="">
        </div> 
         <div class="service-description">
            <h2 class="service-title">Маникюр</h2>
            <p class="note">Милые женщины! Ваши руки достойны внимания и ухода. Салон красоты Beauty Heaven предлагает услуги маникюра в Минске по доступной цене.</p>

            <ul class="service-list">
                <h3>Виды маникюра</h3>
                <li> <img class="icon" src="./assets/images/product/check.png" alt=""><span>Классический маникюр </span> выполняется с помощью специальных косметических инструментов. Во время классического маникюра руки опускают в мыльный раствор для размягчения кожи. После этого обрезание кутикулы и придание формы ногтям не занимает много времени. Далее мастер приступает к лаковому покрытию и дизайну.</li>

                <li><img class="icon" src="./assets/images/product/check.png" alt=""><span>Европейский маникюр. </span> выполняется с помощью специальных косметических инструментов. Более безопасным методом считают европейский маникюр, в ходе которого не удаляют кутикулу. Ее отодвигают с помощью апельсиновой палочки и с использованием специального раствора. Данная методика предусматривает заботу о ногтях без использования режущих приборов.</li>

                <li><img class="icon" src="./assets/images/product/check.png" alt=""><span>Аппаратный маникюр. </span> Специальный прибор придает форму ногтю, затем проводится полировка и удаляют кутикулу.</li>

                <li><img class="icon" src="./assets/images/product/check.png" alt=""><span>Комбинированный маникюр </span> – соединение обрезного и аппаратного метода обработки ногтей. Процедура занимает немного больше времени чем классический способ обработки ногтей, принимается во внимание индивидуальные черты ногтей.</li>              
            </ul>
         </div>       
    </div>

    <h2 class="title">Фотографии работ</h2>

    <div class="slider_container">Здесь должен быть слайдер!!!  
        <div class="slider-images">
            <img src="./assets/images/home/nails-5.jpg" alt="">
        </div>
    </div>

    <h2 class="title">Цены на услуги</h2>

    <div class="service-price_container">
        <div class="service">
            <h3>Маникюр</h3>
            <div class="service-item">
                <p>Маникюр комбинированный (обработка)</p>
                <span>23 руб.</span>
            </div>
            <div class="service-item">
                <p>Маникюр комбинированный с покрытием обычным лаком</p>
                <span>27 руб.</span>
            </div>
            <div class="service-item">
                <p>Маникюр +долговременное покрытие (однотонне)</p>
                <span>от 44 руб.</span>
            </div>
            <div class="service-item">
                <p>Маникюр +долговременное покрытие (однотонное) + снятие</p>
                <span>от 44 руб.</span>
            </div>
            <div class="service-item">
                <p>Маникюр+долговременное покрытие(френч)+снятие</p>
                <span>от 54 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Наращивание ногтей +маникюр +покрытие (однотонное)</p>
                <span>77 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Коррекция: наращивание +маникюр +покрытие (однотонное)</p>
                <span>63 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Снятие дологвременного покрытия</p>
                <span>10 руб.</span>
            </div>                                
        </div>
        <div class="service">
            <h3>Педикюр</h3>
            
            <div class="service-item">
                <p>Педикюр комбинированный (обработка)</p>
                <span>42 руб.</span>
            </div>
            <div class="service-item">
                <p>Педикюр комбинированный мужской (обработка)</p>
                <span>55 руб.</span>
            </div>
            <div class="service-item">
                <p>Педикюр +обычное покрытие</p>
                <span>47 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Педикюр + долговременное покрытие (однотонное)</p>
                <span>от 54 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Педикюр + долговременное покрытие (френч)</p>
                <span>от 59 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Педикюр + долговременное покрытие (однотонное)+снятие</p>
                <span>от 59 руб.</span>
            </div>                                
            <div class="service-item">
                <p>Педикюр + долговременное покрытие (френч) + снятие</p>
                <span>от 64 руб.</span>
            </div>                               
           
        </div>
    </div>


   
    <div class="services-btn" [routerLink]='["/products"]'>Все услуги</div>
</body>
