body {
  color: rgb(237, 236, 236);
  padding: 10vh 0px 25vh 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service_container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-bottom: 15vh;
}

.image_container img {
  width: 25vw;
  justify-content: center;
  margin-right: 5vw;
  margin-top: 2vh;
  border-radius: 5px;
}

.service_container h2 {
  font-size: calc(1.9vw + 1vh + 1vmin);
  font-style: italic;
  font-weight: 500;
  color: #cdaa7d;
  padding-bottom: 3vh;
}

.note {
  font-size: calc(0.7vw + 0.7vh + 0.7vmin);
  font-style: italic;
  padding-bottom: 2vh;
}

.service_container h3 {
  font-size: calc(1.2vw + 1vh + 1vmin);
  font-style: italic;
  font-weight: 500;
  color: #cdaa7d;
  padding-bottom: 3vh;
}

.service-list {
  list-style: none;
}

.service-list li {
  font-size: calc(0.6vw + 0.6vh + 0.6vmin);
  color: rgb(223, 222, 220);
  line-height: 150%;
  padding-bottom: 2vh;
  position: relative;
}

.service-list span {
  color: #cdaa7d;
  font-weight: bolder;
}

.icon {
  width: 1.5vw;
  position: absolute;
  left: -3vw;
}

.title {
  font-size: calc(1.7vw + 1.7vh + 1vmin);
  text-align: center;
  font-style: italic;
  padding-bottom: 3vw;
}

/* Slider */

.slider_container {
  width: 30%;
  height: 38vw;
  margin-bottom: 15vh;
}

.carousel-indicators {
  position: relative;
  top: 36vw;
}

.carousel-item img {
  width: 70%;
  height: 33vw;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;
}

.carousel-control-prev-icon {
  position: relative;
  left: -7vw;
}

.carousel-control-next {
  right: -7vw;
}

/* Prices */

.service-price_container {
  width: 83%;
  margin: 0 auto;
  font-family: "Bitter", serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.service {
  width: 50%;
  margin-bottom: 10vh;
  margin-right: 7vw;
  padding-bottom: 4vh;
  border-bottom: 4px dotted rgb(150, 149, 149);
}

.service:nth-child(even) {
  margin-right: 0px;
}

.service h3 {
  font-size: calc(0.7vw + 0.7vh + 1vmin);
  font-weight: 500;
  padding-bottom: 3vh;
  text-transform: uppercase;
  color: #cdaa7d;
}

.service-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.service-item p,
.service-item span {
  font-size: calc(0.5vw + 0.5vh + 0.6vmin);
  line-height: 180%;
}

/* Button */

.services-btn {
  width: 20vw;
  height: 5vw;
  font-family: Arial, Helvetica, sans-serif;
  background: rgba(241, 215, 136, 0.841);
  border: 1vw ridge rgb(243, 204, 105);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: #2c2b2b;
  font-size: calc(0.5vw + 0.5vh + 0.5vmin);
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 5vh;
  cursor: pointer;
}

.services-btn:active {
  width: 19vw;
  height: 4.7vw;
  font-size: calc(0.47vw + 0.47vh + 0.47vmin);
}
