body {   
    width: 100%;
    background: #020202;
    padding: 5vh 0px 10vw 0px ;
    z-index: 0;
}

.services {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    width: 7vw;
    margin-bottom: 2vw;
}

.title  {
    width: 100%;
    font-size: calc(3vw + 2vh + 2vmin);
    font-weight: 700;
    color: #CDAA7D; 
    text-align: center;
    padding-bottom: 5vw;
    font-style: italic;
}

.services_images {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-evenly;
}

.service {
    width: 28%;
    height: 25vw; 
    margin: 4vw 0;  
    cursor: pointer;    
}

.service:hover {
    transform: scale(1.1);
}

.services_images img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center;
    border-radius: .3vw;
    box-shadow: 0px 2px 5px 1px rgb(117, 117, 117);
}

.services_images p {
    width: 100%;
    height: 4vw;
    color: rgb(52, 50, 50);
    position: relative;
    bottom: 5px;   
    background: linear-gradient(50deg, #ffecad 0,
                                       #ffdca9 16.67%,
                                       #ffcba4 33.33%, 
                                       #f2b99d 50%, 
                                       #dca896 66.67%, 
                                       #c89a8f 83.33%, 
                                       #b68e89 100%);
                                       
    padding: 1.5vh;
    font-size: calc(.8vw + .8vh + .6vmin);
    font-style: italic;
    font-weight: bold;
    border-radius: 0px 0px 2vw 0px;    
}

h3 {
    color: rgb(221, 218, 218);
    font-size: 4rem;
    font-style: italic;
    text-align: center;    
}
