<body>
  <div class="services">
    <img class="icon" src="./assets/images/products/icon-1.png" alt="" />
    <h2 class="title">Наши услуги</h2>

    <div class="services_images" [routerLink]="['/haircut']">
      <div class="service">
        <img src="./assets/images/home/hair-cut.jpg" alt="img" />
        <p class="sirvice_name">Cтрижки</p>
      </div>
      <div class="service" [routerLink]="['/haircolor']">
        <img src="./assets/images/home/hair-color.jpg" alt="img" />
        <p class="sirvice_name">Окрашивание волос</p>
      </div>
      <div class="service" [routerLink]="['/makeup']">
        <img src="./assets/images/home/makeup.jpg" alt="img" />
        <p class="sirvice_name">Макияж</p>
      </div>
      <div class="service" [routerLink]="['/nails']">
        <img src="./assets/images/home/manicure.jpg" alt="img" />
        <p class="sirvice_name">Маникюр</p>
      </div>
      <div class="service" [routerLink]="['/brows']">
        <img src="./assets/images/home/brows.jpg" alt="img" />
        <p class="sirvice_name">Брови и ресницы</p>
      </div>
      <div class="service" [routerLink]="['/massage']">
        <img src="./assets/images/home/massage.jpg" alt="img" />
        <p class="sirvice_name">Массаж</p>
      </div>
    </div>
  </div>
</body>
