<body>
  <div class="service_container">
    <div class="image_container">
      <img src="./assets/images/haircolor/color-7.jpg" alt="" />
    </div>
    <div class="service-description">
      <h2 class="service-title">Окрашивание волос</h2>
      <p class="note">
        Новейшая методика с низкой концентрацией аммиака позволяет добиться
        отличного эффекта и глубокого цвета, который сохраняет свою насыщенность
        вплоть до трех месяцев.
      </p>

      <ul class="service-list">
        <h3>Виды окрашивания</h3>

        <li>
          <img class="icon" src="./assets/images/product/check.png" alt="" />
          <h4>ОКРАШИВАНИЕ ОДНОТОННОЕ</h4>
        </li>
        <li>
          <img class="icon" src="./assets/images/product/check.png" alt="" />
          <h4>ОКРАШИВАНИЯ ВОЛОС ШАТУШ</h4>
        </li>
        <li>
          <img class="icon" src="./assets/images/product/check.png" alt="" />
          <h4>ОКРАШИВАНИЕ ВОЛОС ОМБРЕ</h4>
        </li>
        <li>
          <img class="icon" src="./assets/images/product/check.png" alt="" />
          <h4>ОКРАШИВАНИЕ БАЛАЯЖ</h4>
        </li>
        <li>
          <img class="icon" src="./assets/images/product/check.png" alt="" />
          <h4>ОКРАШИВАНИЕ AIRTOUCH</h4>
        </li>
        <li>
          <img class="icon" src="./assets/images/product/check.png" alt="" />
          <h4>МЕЛИРОВАНИЕ ВОЛОС</h4>
        </li>
        <li>
          <img class="icon" src="./assets/images/product/check.png" alt="" />
          <h4>ЭКРАНИРОВАНИЕ ВОЛОС</h4>
        </li>
      </ul>
    </div>
  </div>

  <div class="txt_container">
    <h3>Что такое сложное окрашивание?</h3>
    <p>
      Сложное окрашивание волос — это техника, которая подразумевает
      использование нескольких оттенков краски. При этом мастера могут сочетать
      различные приемы, например мелирование и колорирование. Цвета, как
      правило, плавно растягиваются, граница между оттенками практически
      незаметна.
    </p>
  </div>

  <div class="service-options">
    <h3>БАЛАЯЖ</h3>
    <p>
      При выполнении такого варианта окрашивания, выбранные тона красителей
      наносят на волосы ровными и горизонтальными движениями. В конечном итоге
      образуется прическа с легким эффектом чуть выгоревших от солнечных лучей
      волос с переливающимися бликами.
    </p>

    <p>
      При создании оригинального и экстравагантного стиля, будут подобраны
      контрастные цвета, великолепно гармонирующие друг с другом. Так,
      горизонтально осветленные пряди визуально увеличивают объем прически и
      освежат лицо.
    </p>

    <img src="./assets/images/haircolor/balajage.jpg" alt="" />
  </div>

  <div class="service-options">
    <h3>ШАТУШ</h3>
    <p>
      Стильное и экстравагантное окрашивание прядей ШАТУШ – это разновидность
      модельного образа, при котором окраска осуществляется, словно хаотичным
      методом, с легкими отступлениями от корней. По итогу окрашивания мы имеем
      эффект похожий на солнечные блики, словно волосы совсем немного выгорели
      от солнечного воздействия.
    </p>

    <p>
      Важно: Окрашивание волос таким способом практически не наносит вреда
      волосам. Шатуш не просто освежает лицо, но и придает волосам объем и живой
      блеск.
    </p>

    <img src="./assets/images/haircolor/shatush.jpg" alt="" />
  </div>

  <div class="service-options">
    <h3>ЭИР ТАЧ (Airtouch)</h3>
    <p>
      Эир тач позволяет получить максимально естественный результат окрашивания.
      Без явных желтых или оранжевых тонов, без четких переходов. Помогает уйти
      от ежемесячного окрашивания корней.
    </p>

    <p>
      Air Touch — в переводе «прикосновение воздуха». Поток воздуха дает фен.
      Мягко выдувая короткие волоски, которые остаются не тронутыми.
    </p>

    <img src="./assets/images/haircolor/airtouch.jpg" alt="" />
  </div>

  <div class="service-options">
    <h3>ОМБРЕ</h3>
    <p>
      Омбре – ультрамодная технология окрашивания волос, предполагающая создание
      уникального цветового градиента, плавную растяжку оттенка на всю длину
      волос (от самых корней до кончиков). Создавая эффект пляжных выгоревших
      кончиков, она освежает образ, делая его более стильным и ярким. Еще пару
      лет эта инновационная услуга окрашивания была доступна только голливудским
      звездам, сегодня же ее может получить любая клиентка нашего салона.
    </p>

    <p>
      Кроме того, омбре позволяет добиться определенной геометрии лица, сделав
      линии скул и подбородка более выраженными, четко очерченными.
    </p>

    <img src="./assets/images/haircolor/ombre.jpg" alt="" />
  </div>

  <h2 class="title">Цены на услуги</h2>

  <div class="service-price_container">
    <div class="service">
      <h3>Окрашивание волос</h3>
      <div class="service-item">
        <p>Окрашивание корней</p>
        <span>41 - 51 руб.</span>
      </div>
      <div class="service-item">
        <p>Окрашивание тон в тон</p>
        <span>48 - 63</span>
      </div>
      <div class="service-item">
        <p>LIGHT окрашивание (до 40 прядей)</p>
        <span>105 - 147 руб.</span>
      </div>
      <div class="service-item">
        <p>Выход из темного</p>
        <span>170 - 330 руб.</span>
      </div>
      <div class="service-item">
        <p>Тонирование</p>
        <span>41 - 56 руб.</span>
      </div>
      <div class="service-item">
        <p>Мелирование + тонирование</p>
        <span>94 - 141 руб.</span>
      </div>
      <div class="service-item">
        <p>Обесцвечивание корня + тонирование</p>
        <span>95 - 120 руб.</span>
      </div>
      <div class="service-item">
        <p>Сложное окрашивание</p>
        <span>160 - 280 руб.</span>
      </div>
      <div class="service-item">
        <p>Коррекция сложного окрашивания</p>
        <span>73 - 90 руб.</span>
      </div>
    </div>
    <div class="service">
      <h3>Процедуры ухода за волосами</h3>

      <div class="service-item">
        <p>Ламинирование волос</p>
        <span>30 - 43 руб.</span>
      </div>
      <div class="service-item">
        <p>Холодный ботокс</p>
        <span>21 - 25 руб.</span>
      </div>
      <div class="service-item">
        <p>Ботокс для волос от INOAR</p>
        <span>90 - 210 руб.</span>
      </div>
      <div class="service-item">
        <p>Экранирование волос, полироль.</p>
        <span>70 - 125 руб.</span>
      </div>
      <div class="service-item">
        <p>Уход "Абсолютное счастье"</p>
        <span>125 - 205 руб.</span>
      </div>
    </div>
  </div>

  <div class="services-btn" [routerLink]="['/products']">Все услуги</div>
</body>
