body {
  width: 100%;
  background: #020202;
  color: #cdaa7d;
  padding-bottom: 15vh;
}

.main-title {
  font-size: calc(2vw + 1vh + 1vmin);
  font-style: italic;
  color: rgb(230, 225, 225);
  text-align: center;
  padding: 7vh 0;
}

.team_container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 3vh;
}

.person_container {
  text-align: center;
  margin: 3vw 2vw;
}

.image_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.person {
  width: 23vw;
  height: 23vw;
  border-radius: 50%;
  border: 0.5vw solid #f8d881;
  box-shadow: 0.1vw 0.1vw 0.4vw 0px rgba(242, 242, 213, 0.399);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.person:hover {
  transform: scale(1.2);
  transition-delay: 400ms;
}

.person img {
  width: 21.5vw;
  height: 21.5vw;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.person_container h4 {
  font-size: calc(1.7vw + 0.1vh + 1vmin);
  font-style: italic;
  font-weight: 500;
  line-height: 160%;
  padding-top: 4vh;
}

.person_container p {
  font-size: calc(0.7vw + 0.7vh + 1vmin);
  font-style: italic;
  color: rgb(198, 195, 195);
}

@media screen and (max-width: 790px) {
  .main-title {
    font-size: 5vmin;
    padding: 5vmin;
  }

  .team_container {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .person {
    width: 35vmin;
    height: 35vmin;
  }

  .person img {
    width: 95%;
    height: 95%;
  }

  .person_container h4 {
    font-size: 3.9vmin;
    padding-top: 2vmin;
    margin-bottom: 0;
    line-height: 200%;
  }

  .person_container p {
    font-size: 3.2vmin;
  }
}

@media screen and (max-width: 440px) {
  .person_container h4 {
    font-size: 3.5vmin;
    padding-top: 2vmin;
  }

  .person_container p {
    font-size: 2.9vmin;
  }
}
