body {
    width: 100%;
    background: #020202; 
    color: #CDAA7D;
    padding-bottom: 15vh;
} 

.main-title {
    font-size: calc(2vw + 1vh + 1vmin);
    font-style: italic;
    color: rgb(230, 225, 225);
    text-align: center; 
    padding: 7vh 0; 
}

.team_container {
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    padding-bottom: 3vh;   
}

.person_container {
    text-align: center;
    margin: 3vw 2vw;
}

.image_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.person {
    width: 23vw;
    height: 23vw;
    border-radius: 50%;
    border: .5vw solid #f8d881; 
    box-shadow: .1vw .1vw .4vw 0px rgba(242, 242, 213, 0.399) ;     
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.person:hover {
    transform: scale(1.2);
    transition-delay: 400ms;
}

.person img {
    width: 21.5vw;
    height: 21.5vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.person_container h4 {
    font-size: calc(1.7vw + .1vh + 1vmin);
    font-style: italic;
    font-weight: 500;
    line-height: 160%;
    padding-top: 4vh;
}
.person_container p {
    font-size: calc(.7vw + .7vh + 1vmin);
    font-style: italic;
    color: rgb(198, 195, 195);    
}



.animated-container{
    width: 50%;
    margin: 0 auto;
    height: 10vh; 
    position: relative;
    text-align: center;
    margin-bottom: 15vh; 
}
  
h1 {
    font-size: calc(2.5vw + 1vh + 1vmin);   
    
    span{
      width: 100%;
      float: left;
      color: white;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      transform: translateY(-50px);
      opacity: 0;
      animation-name: titleAnimation;
      animation-timing-function:ease-in-out;
      animation-duration: 30s;
    }
}
h1 span{
    animation-delay: 1s;
      
    &:first-child{
      animation-delay: 0.8s;  
    }
  
    &:last-child{
      animation-delay: 0.5s;
    }
} 

  
  
  @keyframes titleAnimation {
      0% {
        transform: translateY(-50px);
        opacity: 0;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    10% {
        transform: translateY(0);
        opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    80% {
         transform: translateY(0);
         opacity: 1;
        -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
        clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    100% {
         transform: translateY(50px);
         opacity: 0; 
        -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
        clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);       
             
    }
  }