<body>
  <h3 class="main-title">Наши эксперты красоты</h3>
  <div class="team_container">
    <div class="person_container" *ngFor="let person of person">
      <div class="image_container">
        <div class="person">
          <img src="{{ person.image }}" alt="img" />
        </div>
      </div>
      <h4>{{ person.name }}</h4>
      <p>{{ person.profession }}</p>
    </div>

    
    <!--  <div class="person_container">
            <div class="image_container">
                <div class="person">
                    <img src="./assets/images/team/yulia.jpeg" alt="">
                </div>
            </div>
            <h4>Юлия Артюкевич</h4> 
            <p>Директор салона</p>   
        </div>
        <div class="person_container">
            <div class="image_container">
                <div class="person">
                    <img src="./assets/images/team/maryna.jpg" alt="">
                </div>
            </div>
            <h4>Марина Свиридова</h4> 
            <p>Стилист-колорист</p>   
        </div>
        <div class="person_container">
            <div class="image_container">
                <div class="person">
                    <img src="./assets/images/team/person-10.jpg" alt="">
                </div>
            </div>
            <h4>Ирина Иванова</h4> 
            <p>Парикмахер-колорист</p>   
         </div>
        <div class="person_container">
            <div class="image_container">
                <div class="person">
                    <img src="./assets/images/team/person-2.jpg" alt="">
                </div>
            </div>
            <h4>Ольга Иванова</h4> 
            <p>Парикмахер-универсал</p>    
        </div>
        <div class="person_container">
            <div class="image_container">
                <div class="person">
                    <img src="./assets/images/team/person-7.jpg" alt="">
                </div>
            </div>
            <h4>Дмитрий Иванов</h4> 
            <p>Парикмахер-стилист</p>    
        </div> 
        <div class="person_container">
            <div class="image_container">
                <div class="person">
                    <img src="./assets/images/team/person-6.jpg" alt="">
                </div>
            </div>
            <h4>Кристина Иванова</h4> 
            <p>Визажист-бровист</p>     
    </div>
        <div class="person_container">
            <div class="image_container">
                <div class="person">
                    <img src="./assets/images/team/viktoria.jpg" alt="">
                </div>
            </div>
            <h4>Виктория Иванова</h4> 
            <p>Мастер маникюра</p>     
    </div>
        <div class="person_container">
            <div class="image_container">
                <div class="person">
                    <img src="./assets/images/team/person-9.jpg" alt="">
                </div>
            </div>
            <h4>Андрей Иванов</h4> 
            <p>Парикмахер-барбер</p>     
    </div>
        <div class="person_container">
            <div class="image_container">
                <div class="person">
                    <img src="./assets/images/team/person-11.jpg" alt="">
                </div>
            </div>
            <h4>Сергей Иванов</h4> 
            <p>Массажист</p>     
        </div>   
 -->
  </div>
</body>
