<body>

  <div class="main-image_container">
        <img  class = "main-img" src="./assets/images/home/main.jpg" alt="img">  
        <div class="main-title">
            <h2>Салон красоты</h2>
            <h3>BEAUTY HEAVEN</h3>
            <h2>в Новой Боровой</h2>
        </div> 
    </div> 

   <!--  <div class="main-image_container">       
        <video  width="" height="" controls="controls" autoplay="autoplay" muted="muted">
            <source src="./assets/images/home/promo_video.mp4" type="video/mp4">
       </video>
        <div class="main-title_video">
            <h2>Мы всегда рады нашим клиентам!</h2>            
        </div>
    </div>
 -->
    <div class="about">
        <img src="./assets/images/home/quotes.png" alt="">
        <p>Красота является уникальным выражением каждого человека. Она дарит позитивные эмоции и меняет настроение к лучшему. Особенно если стоимость полученной красоты доступная и приемлемая. Стать более привлекательной стало еще проще. Лучший салон красоты, находящийся в Минске, открывает свои двери каждому, кто желает на некоторое время погрузиться в мир расслабленности, ухода и внешней привлекательности.</p>
        <p>Наш салон красоты, недорого посетить который может каждый желающий, открывает двери всем гостям, стремящимся, как и мы к красоте. От нас уходят только обновленными и окрыленными. Осуществляет салон красоты наращивание и ламинирование ресниц, стрижки разной сложности, окрашивание волос и бровей.</p>
    </div>


    <!-- Услуги -->
   <app-products></app-products>  

   

     <!-- Галерея   --> 

     <div class="gallery">
        <h2 class = "title">Наши работы</h2>

        <ul>
            <li >Показать все</li>
            <li>Парикмахерские услуги</li>
            <li>Маникюр</li>
            <li>Макияж</li>            
        </ul>        
   
  
        
    <div class="gallery_images">
        <img src="./assets/images/home/cut-1.jpg" alt=""> 
        <img src="./assets/images/home/color-1.jpg" alt=""> 
        <img src="./assets/images/home/nails-1.jpg" alt="">
        <img src="./assets/images/home/makeup-2.jpg" alt="">
        <img src="./assets/images/home/cut-2.jpg" alt="">
        <img src="./assets/images/home/massage-1.jpg" alt="">
        <img src="./assets/images/home/brows-2.jpg" alt="">
        <img src="./assets/images/home/cut-3.jpg" alt="">
        <img src="./assets/images/home/color-2.jpg" alt="">
        <img src="./assets/images/home/nails-3.jpg" alt="">
        <img src="./assets/images/home/makeup-3.jpg" alt="">
        <img src="./assets/images/home/cut-4.jpg" alt="">
    </div>

</div>
            
            

    
    



</body>

