<body>
  <div class="slider_container">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-bs-ride="slider"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="main-img" src="./assets/images/home/main.jpg" alt="img" />
          <div class="main-title">
            <h2>Салон красоты</h2>
            <h3>BEAUTY HEAVEN</h3>
            <h2>в Новой Боровой</h2>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="main-img"
            src="./assets/images/home/main-5.jpg"
            alt="img"
          />
          <div class="promo">
            <img
              class="certificate"
              src="./assets/images/home/certificate.png"
              alt="img"
            />
            <div class="message_container">
              <span class="message"
                >Действует программа лояльности для постоянных клиентов
              </span>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="main-img"
            src="./assets/images/home/main-4.jpg"
            alt="img"
          />
          <h1 class="special-offer">НОВАЯ УСЛУГА</h1>
          <h2 class="service-offer">УХОД ЗА ЛИЦОМ</h2>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий</span>
      </button>
    </div>
  </div>

  <div class="about">
    <img src="./assets/images/home/quotes.png" alt="img" />
    <p>
      Красота является уникальным выражением каждого человека. Она дарит
      позитивные эмоции и меняет настроение к лучшему. Особенно если стоимость
      полученной красоты доступная и приемлемая. Стать более привлекательной
      стало еще проще. Лучший салон красоты, находящийся в Минске, открывает
      свои двери каждому, кто желает на некоторое время погрузиться в мир
      расслабленности, ухода и внешней привлекательности.
    </p>
    <p>
      Наш салон красоты, недорого посетить который может каждый желающий,
      открывает двери всем гостям, стремящимся, как и мы к красоте. От нас
      уходят только обновленными и окрыленными. Осуществляет салон красоты
      наращивание и ламинирование ресниц, стрижки разной сложности, окрашивание
      волос и бровей.
    </p>
  </div>

  <!-- Услуги -->

  <app-products></app-products>

  <!-- Галерея   -->
  <div class="gallery">
    <h2 class="title">Наши работы</h2>
    <ul>
      <li
        *ngFor="let category of categories"
        (click)="getImageCategory(category.id)"
      >
        {{ category.name }}
      </li>
    </ul>

    <div class="gallery_images">
      <img src="{{ image.image }}" alt="img" *ngFor="let image of images" />
    </div>
  </div>
</body>
