body {
  color: #f0f0f0;
}

.slider_container {
  height: 37vw;
  position: relative;
}

.carousel-control-next-icon {
  position: relative;
  left: 2vw;
  top: 2vw;
  height: 5vw;
}

.carousel-control-prev-icon {
  position: relative;
  left: -2vw;
  top: 2vw;
  height: 5vw;
}

.main-img {
  width: 100%;
  height: 37vw;
  object-fit: cover;
}

.main-title {
  background: rgba(253, 250, 250, 0.192);
  backdrop-filter: blur(0.3vw);
  width: 40%;
  height: 70%;
  padding: 2vw;
  border-radius: 0.5vw;
  border: 1px solid rgba(100, 98, 98, 0.568);
  position: absolute;
  top: 18%;
  right: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 800;
}

.main-title h2 {
  font-size: calc(2.3vw + 1vh + 1vmin);
  font-weight: 800;
  line-height: 180%;
  color: #0b0b0bd3;
  text-shadow: 0 5.36px 8.896px#3a3a3a, 0 -2px 1px #a09f9f;
  margin: 0;
}

.main-title h3 {
  font-size: calc(3.7vw + 1vh + 1vmin);
  font-weight: 700;
  line-height: 100%;
  color: #fb08a6;
  text-shadow: 0 0 0.5vw white, 0 0 0.5vw white, 0 0 0.7vw white, 0 0 2vw white;
  margin: 0;
}

.promo {
  width: 40vw;
  position: absolute;
  top: 10%;
  left: 55%;
}

.certificate {
  width: 30vw;
  position: relative;
  left: 4vw;
}

.message_container {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  background: #f8f7f6;
  padding: 0.5vw 2vw;
  border-radius: 0.7vw;
  text-align: center;
  border: 0.3vw solid #e4b372;
}

.message {
  font-size: calc(0.7vw + 1vh + 1vmin);
  font-weight: 500;
  color: #d57b04;
}

.special-offer {
  position: absolute;
  top: 3%;
  left: 4%;
  color: #f8f7f6;
  font-size: 4vw;
  font-weight: 900;
}
.service-offer {
  position: absolute;
  top: 25%;
  left: 6%;
  color: #f8f7f6;
  font-size: 3vw;
  font-weight: 900;
}

//About

.about {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7vw 0 5vw 0;
}

.about img {
  width: 5vw;
  margin-bottom: 5vw;
}

.about p {
  font-size: calc(0.6vw + 1vh + 1vmin);
  padding-bottom: 1vw;
  line-height: 150%;
  color: rgb(184, 184, 183);
  font-style: italic;
  font-weight: 500;
}

.title {
  width: 100%;
  font-size: calc(3vw + 2vh + 2vmin);
  font-weight: 700px;
  color: #cdaa7d;
  text-align: center;
  font-style: italic;
  padding-bottom: 3vw;
}

/* Gallery */

.gallery {
  width: 100%;
  padding-bottom: 7vw;
}

.gallery ul {
  width: 70% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 0;
  padding-bottom: 3vw;
}

.gallery li {
  margin: 2vw;
  font-size: calc(0.8vw + 0.8vh + 0.9vmin);
  color: rgb(183, 183, 180);
}

.gallery li:hover {
  cursor: pointer;
  color: #cdaa7d;
}

.active {
  color: #cdaa7d;
}

.gallery_images {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.gallery_images img {
  width: 20%;
  height: 22vw;
  border-radius: 0.5vw;
  box-shadow: 0 0.1vw 0.3vw 0.1vw rgb(117, 117, 117);
  object-fit: cover;
  margin: 3vh 1vw;
  margin-bottom: 7vmin;
}

.gallery_images img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 960px) {
  .main-title {
    height: 70%;
    padding: 7% 1%;
  }
  .about {
    width: 75%;
    font-size: 1.4rem;
  }

  .gallery li {
    font-size: 1.2rem;
  }

  .gallery_images img {
    width: 25vw;
    height: 32vw;
  }
}

@media screen and (max-width: 790px) {
  .main-title {
    width: 48%;
    height: 75%;
    padding: 7% 1%;
    top: 13%;
  }
}

@media screen and (max-width: 600px) {
  .gallery_images img {
    width: 220px;
    height: 300px;
  }
}

@media screen and (max-width: 440px) {
  .main-img,
  .slider_container {
    height: 48vmin;
  }

  .main-title {
    height: 60%;
    top: 20%;
    backdrop-filter: blur(0.3vh);
    border-radius: 0.5vh;
  }

  .main-title h2 {
    display: none;
  }

  .main-title h3 {
    font-size: 8vmin;
  }

  .about {
    width: 80%;
  }

  .about p {
    font-size: 3.4vmin;
    line-height: 180%;
  }

  .about p:last-child {
    display: none;
  }

  .gallery_images img {
    width: 33vmin;
    height: 45vmin;
    margin-bottom: 3vmin;
  }

  .gallery ul {
    padding: 0 4vmin;
    justify-content: space-evenly;
  }

  .gallery li {
    font-size: 3.2vmin;
    margin: 0;
  }
}
